body {
  height: 100%;
  width: 100%;
}

/*CLASSES*/
.panel-heading {
  text-align: center;
}

.monster-list {
  width: 100%;
  height: 530px;
  overflow: scroll;
}

.profilePicture {
  width: 297px;
  height: 297px;
  margin: 1px;
}

/*IDs*/
#map {
  width: 100%;
  height: 500px;
}

#panel-body-map {
  height: 100%;
  width: 100%;
}

#panel-monster-list {
  width: 100%;
  height: 100%;
}

#searchMonsterName {
  width: 200px;
}

#jumbotron {
  background-color: black;
  color: white;
  text-align: center;
}
