body {
  height: 100%;
  width: 100%;
}

/*CLASSES*/
.panel-heading {
  text-align: center;
}

.monster-list {
  width: 100%;
  height: 530px;
  overflow: scroll;
}

.profilePicture {
  width: 297px;
  height: 297px;
  margin: 1px;
}

.monster-profile-picture {
  width: 198px;
  height: 198px;
  margin: 2px;
  text-align: center;
}

.monster-profile-picture:hover {
  border: 2px solid blue;
}

.profile-picture-modal {
  width: 198px;
  height: 198px;
}

/*IDs*/
#map {
  width: 100%;
  height: 500px;
}

#panel-body-map {
  height: 100%;
  width: 100%;
}

#panel-monster-list {
  width: 100%;
  height: 100%;
}

#searchMonsterName {
  width: 200px;
}

#jumbotron {
  background-color: black;
  color: white;
  text-align: center;
}

#monster-profile-hr {
  width: 50%;
}

#profile-picture-modal {
  overflow: scroll;
}
